/*60152*/
.redbg {
    background-color: #ff0000
}

.font-white{
    color: #fff;
}

#gridContainer {
    /*margin-inline: auto;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#gridContainer > div {
    width: 70%;
}