.bg-prime{
    background-color: #84c5f5;
}

.my-treeview-item-wrapper {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    gap: 8px;
}

.make-child-center{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.make-child-center::before {
    display: flex;
    justify-content: center;
    align-content: center;
}

.my-treeview-item-wrapper .dx-button{
    border: none;
}

.my-treeview-item-wrapper .dx-button-normal {
    background-color: transparent;
}

.my-treeview-item-wrapper .dx-button-content{
    padding: 1px;
}