
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-link-list{
    display: block !important;
    margin-bottom: 36px;
}

.highlight {
    background-color: yellow;
}

.rotate{
    transform: rotate(90deg);
}

#linkContainer{
    margin-block: 16px;
}

.field-container {
    width: fit-content;
}
.custom-item{
    display: flex;
    gap: 12px;
}
.custom-item-image {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;

}
.custom-item-image > img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
.product-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-box {
    border: 1px solid black;
    margin-block: 8px;
    margin-inline: 4px;
    padding: 4px;
}

.short-width-box{
    width: 365px;
}
/*for file uploader dialog trigger and drop zone containers*/
.custom-blue-container {
    height: 100px;
    width: 100px;
    background-color: #37c3f1;
    margin: 4px;
}
/*
#custome-drag-drop-wrapper .dx-fileuploader-button {
    display: none;
}

#custome-drag-drop-wrapper .dx-fileuploader-file-input-container {
    display: none;
}*/
/*
#custome-drag-drop-wrapper .dx-fileuploader-wrapper {
    display: none;
}*/