<div id="company-details">
    <h2 id="company-heading">
        RKIT Software Pvt. Ltd.
    </h2>
    <div id="company-about">
        
        <div id="company-intro">
            <div class="company-qa">
                <h3 class="comapany-question">
                    History of RKIT?
                </h3>
                <div class="comapny-answer">
                    RKIT Software Pvt. Ltd. was started in 1998. And today it is among the top 10 accounting software providers in India.
                </div>
            </div>
    
            <div class="company-qa">
                <h3 class="comapany-question">
                    RKIT engagement?
                </h3>
                <div class="comapny-answer">
                    Currently RKIT is associated with 75,000 users. Company’s motto is to provide simple and easy to use software with rich features.
                </div>
            </div>
    
            <div class="company-qa">
                <h3 class="comapany-question">
                    RKIT objectice?
                </h3>
                <div class="comapny-answer">
                    Our main product is Miracle. This is general purpose accounting software that is scalable from accountant to small shop owner to big industries.
                </div>
            </div>
        </div>

        <div id="company-products">
            <h3 class="product-name">
                Miracle Accounting Software
            </h3>
            <ul class="product-detail">
                <li>A flagship product of RKIT
                    Robust and user-friendly solution for accounting needs.
                    Windows-based desktop application.
                    Various accounting tasks, ranging from GST calculations to profit and loss statements.
                    </li>
                <li>A flagship product of RKIT
                    Robust and user-friendly solution for accounting needs.
                    Windows-based desktop application.
                    Various accounting tasks, ranging from GST calculations to profit and loss statements.
                    </li>
                <li>A flagship product of RKIT
                    Robust and user-friendly solution for accounting needs.
                    Windows-based desktop application.
                    Various accounting tasks, ranging from GST calculations to profit and loss statements.
                    </li>
                <li>Various accounting tasks, ranging from GST calculations to profit and loss statements.

                </li>
            </ul>
        </div>

        <h3 class="product-name">
            Miracle Cloud

        </h3>
        <ul class="product-detail">
            <li>Unlike Desktop Miracle software, Miracle cloud is cross platform application.

                </li>
            <li>To use Miracle cloud, you just need the internet connectivity.

                </li>
            <li>Can access Miracle from any location and device.

                </li>
        </ul>

        <h3 class="product-name">
            Miracle Report App.

        </h3>
        <ul class="product-detail">
            <li>A pivotal extension of Miracle Software.

                </li>
            <li>Empowers user to access their critical data (reports)

                </li>
        </ul>


    </div>
</div>