<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
    <extensions>
        <add assembly="NLog.Web.AspNetCore" />
    </extensions>

    <!--<variable name="userID" value="5" />-->

    <targets>
        <target name="console" xsi:type="ColoredConsole" layout="${longdate}|${message}" />
        <!--<target name="file" xsi:type="File" fileName="${currentdir}/log/demo-${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${callsite:className=true:methodName=true} ${callsite-linenumber} ${message} ${exception}"/>-->
        <!--<target name="userfileusingvar" xsi:type="File" fileName="${currentdir}/log/var/${var:userID}/demo-${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${callsite:className=true:methodName=true} ${callsite-linenumber} ${message} ${exception}"/>-->
        <target name="userfileusinglogevent" xsi:type="File" fileName="${currentdir}/log/logevent/${userid}/demo-${shortdate}.log" layout="${longdate} ${level:uppercase=true} ${callsite:className=true:methodName=true} ${callsite-linenumber} ${message} ${userid} ${exception}"/>
    </targets>

    <rules>
        <logger name="NLogProject.*" minlevel="Trace" writeTo="console" />
        <!--<logger name="NLogProject.*" minlevel="Trace" writeTo="file" />-->
        <!--<logger name="NLogProject.*" minlevel="Trace" writeTo="userfileusingvar" />-->
        <logger name="NLogProject.*" minlevel="Trace" writeTo="userfileusinglogevent" />
    </rules>
</nlog>

<!--<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="nlog-internal.log">
    <targets>
        <target name="logfile" xsi:type="File" fileName="log/mylog.log" />
        <target name="logconsole" xsi:type="ColoredConsole" />
    </targets>

    <rules>
        <logger name="*" minLevel="Trace" writeTo="logfile,logconsole" />
    </rules>
</nlog?>-->