<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<connectionStrings>
		<add name="connect-to-firmadvance378" connectionString="server=127.0.0.1;uid=root;pwd=Mrpng@7121;database=firmadvance378" />
		<add name="connect-to-mysqld" connectionString="server=127.0.0.1;uid=root;pwd=Mrpng@7121" />
	</connectionStrings>

	<appSettings>
		<add key="database-name" value="firmadvance378" />
		<add key="password-hash-secret-key" value="lz7rhwwdKiifUvj5RntozFts2vQ4F2WL" />
		<add key="admin-username" value="prajvalgahine"/>
		<add key="admin-password" value="Prajval@123"/>
		<add key="admin-email" value="prajvalgahine7121@gmail.com"/>
		<add key="admin-phone-no" value="9924380554"/>
	</appSettings>
</configuration>
